/* Colors */
@purp:        #9CAAFF; //light purple
@purp--dark:  #6D76AC; //dark purple
@purp--black: #18191E; //darkest purple
@white:       #eeeeee;
@blue:        #347BFF; //Earthy blue
@yellow:      #E9FF9C; //Cosmic yellow

/* Gradients */
@gradient--purp: linear-gradient(-180deg, #18191F 30%, #6D76AC 100%); //purple gradient

body {
  text-align: center;
}
