.planet__card
  .planet__card__preview
  .planet__card__details
    .planet__stats
      label.label Distance
      p.planet__stats__dist Lorem
      
      label.label Orbit
      p.planet__stats__orbit Ipsum
      
      label.label Mass
      p.planet__stats__mass Dolor
    .planet__discovery
    
      label.label Year
      p.planet__discovery__year Si
      
      label.label Observatory
      p.planet__discovery__observatory Amet
      
      label.label Telescope
      p.planet__discovery__telescope Whatever
      
      label.label Device
      p.planet__discovery__device Blah
